{% extends 'base.html.twig' %}

{% block title %}Bamazon{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>

  <div class="d-flex justify-content-center align-items-center flex-column">
    <h1>Bienvenue sur BamazonShopping</h1>
    <h3>Vous êtes connecté en tant que
      {{ app.user.username }}</h3>

    <a href="{{ path('app_logout')}}" class="btn btn-primary mt-2">Logout</a>
    <a href="{{ path('panier')}}" class="btn btn-primary mt-2">Panier</a>
    <a href="{{ path('app_homepage')}}" class="btn btn-primary mt-2">Accueil</a>
  </div>
  <form class="d-flex justify-content-center align-items-center mt-2">
    <div class=" w-25 input-group" {{ stimulus_controller('search-preview', {
                                    url: path('app_homepage')
                                }) }}>
      <input class="form-control mr-sm-2 Search" type="search" placeholder="Search" name="search" value="{{ searchTerm }}" data-action="search-preview#onSearchInput">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      <div class="search-preview" data-search-preview-target="result"></div>
    </div>
  </form>

  <div class="d-flex justify-content-center align-items-center mt-2">
    <a href="{{ path('magasin_Categorized', {'category': 'Meuble'}) }}" class="btn btn-primary mt-2">Meubles</a>
    <a href="{{ path('magasin_Categorized', {'category': 'Vetement'}) }}" class="btn btn-primary mt-2">Vetements</a>
    <a href="{{ path('magasin_Categorized', {'category': 'Informatique'}) }}" class="btn btn-primary mt-2">Informatique</a>
  </div>

  <div>

    {% include "magasin/_searchPreview.html.twig" %}

  </div>
  <p class="msg d-flex justify-content-center align-items-center mt-5"></p>
{% endblock %}
